@import './colors.scss';
@import './fonts.scss';

@import "bootstrap/scss/bootstrap";

@import './partials/sidebar';

body {
    padding-top: 56px;
    font-family: Arial, sans-serif;
}

#main-content-wrapper {
    transition: margin-left 0.3s ease;
    margin-left: 250px;
}

